# 유가정보 데이터 처리 방법

아래는 주간 유가 정보 데이터를 처리하는 코드 입니다. 

국내유가 - 한국석유공사 오피넷

<http://www.opinet.co.kr/user/main/mainView.do> 에 접속합니다.

오른쪽 하단에 유가 정보 내려받기를 클릭합니다.

![title](./assets/1.png)

### 1. 유가 정보 기준

주유소 / 주간/ 서울 지역 기준으로 데이터를 다운 받습니다

![title](./assets/2.png)

### 2. 유가 정보를 pandas로 불러옵니다.

2-1. 유가 정보(10월 4주차).txt를 tap기준으로 자른후 oli data에 저장합니다.

이제 유가 정보는 oil data 입니다.

In [2]:
import pandas as pd
oil_data = pd.read_csv('./2-3. 유가 정보(10월 4주차) 주소변환.txt', sep="\t")
oil_data

,변환한 주소,시,구,동,상호명,유가 정보 기간,상표,셀프여부,고급휘발유,휘발유,경유
0,서울 강남구 논현동 221,서울,강남구,논현동,(주)동하힐탑셀프주유소,2019년 10월 4주,SK에너지,셀프,1800.57,1648.57,1495.00
1,서울 강남구 삼성동 38-21,서울,강남구,삼성동,(주)만정에너지,2019년 10월 4주,GS칼텍스,일반,2289.00,1999.00,1899.00
2,서울 강남구 세곡동 21-13,서울,강남구,세곡동,(주)보성 세곡주유소,2019년 10월 4주,SK에너지,셀프,0.00,1548.00,1405.00
3,서울 강남구 도곡동 546-3,서울,강남구,도곡동,(주)선진도곡주유소,2019년 10월 4주,S-OIL,일반,1797.00,1639.00,1499.00
4,서울 강남구 대치동 913-18,서울,강남구,대치동,(주)소모에너지엔테크놀러지 쎈트럴주유소,2019년 10월 4주,GS칼텍스,일반,2128.86,1990.86,1790.86
...,...,...,...,...,...,...,...,...,...,...,...
489,서울 중랑구 망우동 458-6,서울,중랑구,망우동,우림주유소,2019년 10월 4주,GS칼텍스,셀프,0.00,1497.00,1340.00
490,서울 중랑구 묵동 244-151,서울,중랑구,묵동,재원에너지㈜ 범아주유소,2019년 10월 4주,S-OIL,일반,0.00,1528.00,1378.00
491,서울 중랑구 중화동 207-22,서울,중랑구,중화동,중랑교,2019년 10월 4주,SK에너지,셀프,1915.00,1575.00,1429.00
492,서울 중랑구 면목동 161-17,서울,중랑구,면목동,지에스칼텍스㈜ 대원주유소,2019년 10월 4주,GS칼텍스,셀프,1752.00,1502.00,1322.00
493,서울 중랑구 망우동 147-23,서울,중랑구,망우동,지에스칼텍스㈜ 소망주유소,2019년 10월 4주,GS칼텍스,셀프,0.00,1541.00,1385.00

### 3. 유가 정보 중 동을 기준으로 고급휘발유, 휘발유, 경유 평균 가격 구하기

이제 oil_data 중 동을 기준으로 고급휘발유, 휘발유, 경유의 평균을 구합니다. 

평균을 구하기 위해 먼저 가격이 0인 데이터를 NaN으로 변환합니다.

이때 numpy를 이용합니다.

In [3]:
import numpy as np
oil_data = oil_data.replace(0, np.NaN)
oil_data

,변환한 주소,시,구,동,상호명,유가 정보 기간,상표,셀프여부,고급휘발유,휘발유,경유
0,서울 강남구 논현동 221,서울,강남구,논현동,(주)동하힐탑셀프주유소,2019년 10월 4주,SK에너지,셀프,1800.57,1648.57,1495.00
1,서울 강남구 삼성동 38-21,서울,강남구,삼성동,(주)만정에너지,2019년 10월 4주,GS칼텍스,일반,2289.00,1999.00,1899.00
2,서울 강남구 세곡동 21-13,서울,강남구,세곡동,(주)보성 세곡주유소,2019년 10월 4주,SK에너지,셀프,NaN,1548.00,1405.00
3,서울 강남구 도곡동 546-3,서울,강남구,도곡동,(주)선진도곡주유소,2019년 10월 4주,S-OIL,일반,1797.00,1639.00,1499.00
4,서울 강남구 대치동 913-18,서울,강남구,대치동,(주)소모에너지엔테크놀러지 쎈트럴주유소,2019년 10월 4주,GS칼텍스,일반,2128.86,1990.86,1790.86
...,...,...,...,...,...,...,...,...,...,...,...
489,서울 중랑구 망우동 458-6,서울,중랑구,망우동,우림주유소,2019년 10월 4주,GS칼텍스,셀프,NaN,1497.00,1340.00
490,서울 중랑구 묵동 244-151,서울,중랑구,묵동,재원에너지㈜ 범아주유소,2019년 10월 4주,S-OIL,일반,NaN,1528.00,1378.00
491,서울 중랑구 중화동 207-22,서울,중랑구,중화동,중랑교,2019년 10월 4주,SK에너지,셀프,1915.00,1575.00,1429.00
492,서울 중랑구 면목동 161-17,서울,중랑구,면목동,지에스칼텍스㈜ 대원주유소,2019년 10월 4주,GS칼텍스,셀프,1752.00,1502.00,1322.00
493,서울 중랑구 망우동 147-23,서울,중랑구,망우동,지에스칼텍스㈜ 소망주유소,2019년 10월 4주,GS칼텍스,셀프,NaN,1541.00,1385.00

동을 기준으로 고급휘발유, 휘발유, 경유의 평균을 담은 데이터는 

oil_avg_price 입니다

In [4]:
oil_avg_price = oil_data.groupby(['동'], as_index=False).mean()
oil_avg_price

        동        고급휘발유        휘발유          경유
0     가락동  1852.715000  1615.5700  1486.03500
1    가리봉동          NaN  1579.0000  1377.00000
2     가산동          NaN  1496.4300  1346.43000
3     가양동  1742.000000  1543.6075  1395.17750
4     갈월동  2249.000000  1999.0000  1899.00000
..    ...          ...        ...         ...
184   화곡동  1685.906667  1498.8575  1348.76625
185   화양동  1985.000000  1595.0000  1469.00000
186   후암동  2297.000000  1955.1400  1865.14000
187   휘경동  1775.000000  1578.5000  1399.03750
188   흑석동          NaN  1668.1400  1528.14000

[189 rows x 4 columns]

### 4. 평균 가격이 담긴 데이터 txt 파일로 저장하기

In [6]:
oil_avg_price = pd.DataFrame(oil_avg_price)
oil_avg_price.to_csv('./2-4. 유가 정보(10월 4주차) 평균 가격(최종).txt', header=True, index=False, encoding="UTF-8")